
# Database Configuration
DB_USER=sa
DB_PASSWORD=1234
DB_SERVER=LAPTOP-A7CLFG45  # Use localhost\\SQLEXPRESS for local SQL Server Express
DB_DATABASE=ShopEasy

# Server Configuration
PORT=5000
NODE_ENV=development
